* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}
/* Provide sufficient contrast against white background */
#root {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
